%table.table.table-striped.table-hover
  %tr
    %th name
    %th description
    %th drugbankID
    %th pharmGkbID
    %th fdaApproved
    %th source
    - if pmids
      %th PMIDs
      %th curated
  = render drugs
  = will_paginate(drugs, :param_name => 'drug_page')
