%table.table.table-striped.table-hover
  %tr
    %th name
    %th alt_names
    %th pharmGkbID
    %th source
    - if pmids
      %th PMIDs
      %th curated
  = render diseases
  = will_paginate(diseases, :param_name => 'disease_page')

