= smart_listing_controls_for(:diseases, {class: "form-inline text-right"}) do
  .form-group.filter.input-append
    = text_field_tag :diseases_filter, '', class: "search form-control", 
                              placeholder: "Search...", autocomplete: :off

