<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>

<p>
  <strong>Alt names:</strong>
  <%= @disease.alt_names %>
</p>

<p>
  <strong>Pharmgkbid:</strong>
  <%= @disease.pharmGkbID %>
</p>

<p>
  <strong>Source:</strong>
  <%= @disease.source %>
</p>

<p>
  <strong>Type:</strong>
  <%= @disease.type %>
</p>

<%= link_to 'Edit', edit_disease_path(@disease) %> |
<%= link_to 'Back', diseases_path %>
