%table.table.table-striped.table-hover
  %tr
    %th name
    %th description
    %th uniprotKB
    %th ensemblID
    %th entrezID
    %th pharmGkbID
    - if pmids
      %th PMIDs
      %th curated
  = render genes
  = will_paginate(genes, param_name: :gene_page)
