- if locals[:pmids]
  - locals[:pmids][:ids].each_with_index do |id, ind|
    %a{href: "http://www.ncbi.nlm.nih.gov/pubmed/#{id}"}
      = ind+1
  = "(#{locals[:pmids][:count]})" if locals[:pmids][:count] > 3

